.header {
  display: flex;
  flex-direction: row;
  flex: 0.05;
}

.smallpage {
  display: flex;
  padding: 20px;
  flex-direction: column;
  background-color: white;
  flex: 1;
  border-radius: 10px;
  gap: 50px;
}

.list {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 5px;
}

.icon {
  background-color: grey;
  color: white;
  border-radius: 5px;
  padding: 3px;
  margin-right: 10px;
  width: 70px;
  text-align: center;
}

.elements {
  border-bottom: gainsboro dashed;
  flex: 0.8;
}

.title {
  color: #4098c4;
  font-weight: bold;
}
