.list {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 5px;
}

.icon {
  background-color: grey;
  color: white;
  border-radius: 5px;
  padding: 3px;
  margin-right: 10px;
  width: 70px;
  text-align: center;
}

.elements {
  border-bottom: gainsboro dashed;
  flex: 0.8;
}

.title {
  color: #4098c4;
  font-weight: bold;
}

.miniroom {
  background-color: black;
  outline: black;
  width: 50%;
  margin-top: 10px;
}
