body {
  background-color: grey;
  background-image: url(./images/pattern.png);
  background-size: 5%;
}

.bookcover {
  background-color: #b4d0da;
  border-radius: 20px;
  position: fixed;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
}

.bookdot {
  border: white dashed;
  border-radius: 20px;

  margin: 0.8rem auto;
  height: 96%;
  width: 98%;
}

.page {
  display: flex;
  flex-direction: row;
  background-color: #eeeeee;
  border-radius: 20px;
  margin: 0.8rem auto;
  height: 96%;
  width: 98%;
}

.box {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.category {
  display: flex;
  flex: 0.2;
  outline: violet solid;
}

.header {
  display: flex;
  flex-direction: row;
  flex: 0.05;
}

.smallpage {
  display: flex;
  padding: 20px;
  flex-direction: column;
  background-color: white;
  flex: 1;
  border-radius: 10px;
  gap: 50px;
}

.list {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 5px;
}

.icon {
  background-color: grey;
  color: white;
  border-radius: 5px;
  padding: 3px;
  margin-right: 10px;
  width: 70px;
  text-align: center;
}

.elements {
  border-bottom: gainsboro dashed;
  flex: 0.8;
}

.title {
  color: #4098c4;
  font-weight: bold;
}
